@model IEnumerable<ProjectFinal.Models.Invoices.Invoice>


@{
    ViewData["Title"] = "InvoiceIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 mt-3">
            <p>İsdifadəci № və İsdifadəci Adı</p>
            <form method="get">
                <div class="input-group">

                    <input type="search" class="form-control" value="@ViewData["Get"]" name="search" />

                    <div class="input-group-append">

                        <button class="btn btn-outline-primary" asp-action="InvoiceIndex">Axtar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Page Heading -->
    <div class="row mt-4">
        <!-- First Column -->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Bağlamalarım</h6>

                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col"> Isdifadeci No</th>
                                <th scope="col"> Mağaza</th>
                                <th scope="col"> Qiymet</th>
                                <th scope="col"> İzlələmə №</th>
                                <th scope="col">Status </th>
                                <th scope="col"> Settings</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.DbPassportUserModel.CustomerNumber</td>

                                    <td>
                                        @item.StoreName
                                    </td>


                                    <td>
                                        @item.InvoiceProductPrice
                                    </td>
                                    <td>
                                        @item.InvoiceFollowCode
                                    </td>



                                    <td>
                                        @{
                                            if (item.InvoiceStatus == 1)
                                            {
                                                <p>SIFARIŞ VERİLDİ</p>
                                            }
                                            else if (item.InvoiceStatus == 2)
                                            {
                                                <p>XARİCİ ANBARDA</p>
                                            }
                                            else if (item.InvoiceStatus == 3)
                                            {
                                                <p>YOLDADIR</p>
                                            }
                                            else if (item.InvoiceStatus == 4)
                                            {
                                                <p>GÖMRÜK YOXLANIIŞI</p>
                                            }
                                            else if (item.InvoiceStatus == 5)
                                            {
                                                <p>ANBARDA</p>
                                            }
                                            else if (item.InvoiceStatus == 6)
                                            {
                                                <p>KURYER ÇATDIRMA</p>
                                            }
                                            else if (item.InvoiceStatus == 7)
                                            {
                                                <p>İADƏ</p>
                                            }
                                            else if (item.InvoiceStatus == 8)
                                            {
                                                <p>TƏHVİL VERİLDİ</p>
                                            }
                                        }




                                    </td>
                                    <td class="d-flex">
                                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <p>&nbsp;</p>

                                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-warning btn-circle btn-sm">
                                            <i class="fa fa-list" aria-hidden="true"></i>

                                        </a>
                                        <p>&nbsp;</p>
                                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-circle btn-sm deleteitem ">
                                            <i class="fas fa-trash"></i>
                                        </a>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>





