
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeViewModel


@section css {
    <link rel="stylesheet" href="~/Project/css/style.css">

}
@section cssRules {
    <link rel="stylesheet" href="~/Project/css/questions.css">

}


<section id="calculator">
    <div class="container">
        <div class="calculatorContent">
            <div class="row colExs">
                <div class="col-md-4 col-sm-5 col-xs-6 ">
                    <div class="calculatorContentLeft">
                        <h4>YENİLİKLƏR VƏ ELANLAR    </h4>

                    </div>

                </div>
                <div class="col-md-8 col-sm-7 col-xs-6">
                    <div class="calculatorContentRight">
                        <ul>
                            <li>
                                <a href="limak.az">
                                    <span class="calcVisible">Ana səhifə</span>
                                    <span class="calcNotVisible">...</span>

                                </a>
                            </li>
                            <li class="customSlash"> / </li>
                            <li class="calclist">  YENİLİKLƏR VƏ ELANLAR </li>

                        </ul>

                    </div>
                </div>

            </div>

        </div>

    </div>

</section>
<section id="magazalarMain" style="background-color:white">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

                <div class="magazalarMainLeft magazalarMainLeftSecond">
                    <div class="magazalarMainLeftTop" style="border:none !important">

                        <img style="max-width:100%" src="~/Project/@Model.HomeNew.Image" class="img-responsive" alt="news-01">
                        <h3 class="mt-3">@Model.HomeNew.Title</h3>
                        <p>
                            <i class="far fa-calendar-alt mr-1"></i> @Model.HomeNew.Date.ToString("dd/MM/yyyy")
                        </p>
                        <p>@Html.Raw(Model.HomeNew.Description)</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="magazalarMainRight">

                   
                    @foreach (var item in Model.HomeNews)
                    {

                        <div class="right-content" style=" margin-top: 50px;" >
                            <h5>

                                <a class="aDetails" asp-controller="Home" asp-action="Details" asp-route-Id="@item.Id">

                                    @item.Title

                                </a>
                            </h5>
                            <span><i class="far fa-calendar-alt"></i> @item.Date.ToString("dd/MM/yyyy")</span>
                        </div>
                        <hr />
                    }



                </div>

            </div>
        </div>
    </div>

</section>

@section scriptRules {
    <script src="~/Project/js/rules.js"></script>
}


